<div>

<% if signed_in %>
<table style="width:90%">
  <tr>
    <td>
      <h1>Hello, <%= current_user.name %> </h1><br>
      <h1><%= link_to 'VIEW YOUR PLANS', user_path(current_user) %></h1><br>
      <h1><%= link_to 'MAKE A DATE WITH DESTINY', new_plan_path %></h1>
    </td>
    <td>
      <a href="<%=new_plan_path%>"><img src="<%=image_path("ball.png")%>" width=500px></a>
    </td>
  </tr>
</table>
<% else %>
  <h1>Login</h1>
  <%= form_for :session, url: login_path, method: 'post' do |f| %>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.submit 'login' %>
<% end %>

<h1><%= link_to 'Or Sign Up', new_user_path %></h1>

<% end %>

</div>
