<div>
  <h1><%= @user.name %></h1>

<% if @user.plans.length > 0 %>
  <h2>And so it is written. . .</h2>
  <table style="width:90%">
    <th style="text-align:left"><h2>Date</h2></th>
    <th style="text-align:left"><h2>Start Location<h2></th>
    <th></th>
  <tr><% @user.plans.sort_by do |pl| %>
    <% pl.date %>
    <% end.each do |pl| %>
    <td style="width:35%"><%= pl.date.strftime("%A, %B %d %Y") %></td>
    <td style="width:40%"><%= pl.address %></td>
    <td><%= link_to 'See your plan', plan_path(pl) %></td>
  </tr>
  <% end %>
</table>

<% else %>
  <p> You have nothing written in the stars. </p>
<% end %>
<br>
<br>
<h1><%= link_to 'MAKE A DATE WITH DESTINY', new_plan_path %></h1>

<h1><%= link_to 'edit user', edit_user_path(@user) %></h1>
</div>
