<div>
  <h1><%= @user.name %></h1>

<% if @user.plans.length > 0 %>
  <h2>And so it is written. . .</h2>
  <br>
  <table style="width:30%">
  <tr><% @user.plans.sort_by do |pl| %>
    <% pl.date %>
    <% end.each do |pl| %>
    <td><%= pl.date.strftime("%A, %B %d %Y") %></td>
    <td><%= link_to 'See your plan', plan_path(pl) %></td>
  </tr>
  <% end %>
</table>

<% else %>
  <p> You have nothing written in the stars. </p>
<% end %>
<br>
<br>
<h1><%= link_to 'MAKE A DATE WITH DESTINY', new_plan_path %></h1>

<h2><%= link_to 'edit user', edit_user_path(@user) %></h2>
</div>
