<div>
<h1><%= @venue.name %></h1>

<ul>
  <li><%= @venue.street_address %></li>
  <li><%= @venue.city %></li>
  <li><%= @venue.state %></li>
  <li><%= @venue.zipcode %></li><br>
  <li><%= @venue.category %></li>
</ul>
</div>
