<h1> Plan for <%= @plan.date %></h1>

<%= @plan.restaurant.name %>
<%= @plan.activity.name %>
<%= @plan.nightlife.name %>


<%= link_to 'edit plan', edit_plan_path(@plan) %>
<%= link_to 'delete plan', plan_path(@plan), method: 'delete' %>
