<!DOCTYPE html>



<html>
  <head>
    <title>date with destiny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Open+Sans|Codystar|Petit+Formal+Script" rel="stylesheet">
  </head>
  <style>

  </style>
  </head>
  <body>

  <ul>
    <% if signed_in %>
        <li style="float:left"><a class="active" href=<%= user_path(current_user.id) %>><img src="<%=image_path("destiny.png")%>" width="1000"></a></li>
        <li style= "float:right"><a class="active" href=<%= logout_path %>>logout</a></li>
    <% else %>
      <li style="float:left"><img src="<%=image_path("destiny.png")%>" width="1000"></li>
      <% end %>
  </ul>


      <%= yield %>
  </body>
</html>
